## The overview of the sales dataset

### Table of content

1. Get the number of columns and their names
2. Print the first 5 columns to have a general overview of the dataset
3. Get the general information about the dataset

### Import the necesary libraries

In [1]:
import pandas as pd

### Loading the data

In [2]:
data = pd.read_csv('dataset/sales_data.csv')

### Get the number of columns and their names

Create a reusable function to display all column names in a DataFrame

In [3]:
def print_column_names(dataframe):

    print('Column names:')
    # get each column from the DataFrame
    # use enumerate() class to get the coresponding index
    for i, column in enumerate(dataframe.columns):

        # print the column with the corresponding index
        print(f'{i + 1}.', column)

In [4]:
# print the number of columns in the dataset
print(f'\nNumber of columns: {len(data.columns)}\n')

# print the all column names using the 'print_column_names()' reusable function
print_column_names(data)

Number of columns: 10

Column names:
1. Date
2. Region
3. Product_Type
4. Units_Sold
5. Client_Type
6. Sales_Channel
7. Service_Contract
8. Customer_Satisfaction
9. Revenue
10. Maintenance_Cost

### Print the first 5 rows for a quick overview

In [5]:
data.head()

,Date,Region,Product_Type,Units_Sold,Client_Type,Sales_Channel,Service_Contract,Customer_Satisfaction,Revenue,Maintenance_Cost
0,2023-01-01,Iași,Pallet Truck,4,Corporate,Direct,No,10,18900.12,701.14
1,2023-01-01,Constanța,Order Picker,5,SME,Dealer,Yes,6,54172.76,2482.87
2,2023-01-01,Cluj,Order Picker,1,SME,Dealer,No,9,13554.71,995.20
3,2023-01-01,Constanța,Electric Forklift,4,SME,Direct,No,6,111658.01,6173.31
4,2023-01-01,Cluj,Electric Forklift,1,SME,Direct,Yes,8,28951.70,937.47

In [6]:
data['Date']

0       2023-01-01
1       2023-01-01
2       2023-01-01
3       2023-01-01
4       2023-01-01
           ...
4995    2025-10-30
4996    2025-10-30
4997    2025-10-31
4998    2025-10-31
4999    2025-10-31
Name: Date, Length: 5000, dtype: object

### Get the general information about the dataset

In [7]:
data.describe()

        Units_Sold  Customer_Satisfaction        Revenue  Maintenance_Cost
count  5000.000000            5000.000000    5000.000000       5000.000000
mean      3.006600               8.022000   46731.675866       2558.964844
std       1.430303               1.410076   34231.362777       2060.100984
min       1.000000               6.000000    4517.700000        138.320000
25%       2.000000               7.000000   19448.537500        980.705000
50%       3.000000               8.000000   36992.200000       1917.850000
75%       4.000000               9.000000   67789.090000       3608.385000
max       5.000000              10.000000  149802.330000      11618.960000