Import necesary libraries

In [23]:
import pandas as pd

Loading the data

In [24]:
data = pd.read_csv('../dataset/sales_data.csv')

Converting "Date" column to datetime

In [25]:
data['Date'] = pd.to_datetime(data['Date'])

Extracting time features

In [26]:
data['Year'] = data['Date'].dt.year
data['Month'] = data['Date'].dt.month
data['Quarter'] = data['Date'].dt.quarter
data['Day'] = data['Date'].dt.day
data['Weekday_Index'] = data['Date'].dt.weekday
data['Weekday_Name'] = data['Date'].dt.day_name()

In [27]:
data

,Date,Region,Product_Type,Units_Sold,Client_Type,Sales_Channel,Service_Contract,Customer_Satisfaction,Revenue,Maintenance_Cost,Year,Month,Quarter,Day,Weekday_Index,Weekday_Name
0,2023-01-01,Iași,Pallet Truck,4,Corporate,Direct,No,10,18900.12,701.14,2023,1,1,1,6,Sunday
1,2023-01-01,Constanța,Order Picker,5,SME,Dealer,Yes,6,54172.76,2482.87,2023,1,1,1,6,Sunday
2,2023-01-01,Cluj,Order Picker,1,SME,Dealer,No,9,13554.71,995.20,2023,1,1,1,6,Sunday
3,2023-01-01,Constanța,Electric Forklift,4,SME,Direct,No,6,111658.01,6173.31,2023,1,1,1,6,Sunday
4,2023-01-01,Cluj,Electric Forklift,1,SME,Direct,Yes,8,28951.70,937.47,2023,1,1,1,6,Sunday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,2025-10-30,București,Electric Forklift,3,Dealer,Direct,Yes,6,89211.97,2814.77,2025,10,4,30,3,Thursday
4996,2025-10-30,București,Order Picker,4,SME,Dealer,Yes,6,55019.49,2180.01,2025,10,4,30,3,Thursday
4997,2025-10-31,Constanța,Order Picker,1,Corporate,Dealer,Yes,8,11942.45,638.18,2025,10,4,31,4,Friday
4998,2025-10-31,Iași,Order Picker,2,SME,Direct,No,6,21882.95,1367.04,2025,10,4,31,4,Friday
4999,2025-10-31,Timișoara,Order Picker,5,SME,Direct,Yes,9,66010.86,2221.01,2025,10,4,31,4,Friday